@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #040404;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #e5e5e5;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  font-size: 20px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg.png");
  opacity: 0.15;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f9a11c;
  font-size: 54px;
  letter-spacing: 16px;
  word-spacing: 16px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

p {
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover, .button:hover {
  border-color: #ff9900;
  color: #ff9900;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

button:active, .button:active {
  transform: scale(0.95);
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* Adjust the width as desired */
}

::-webkit-scrollbar-track {
  background: #222; /* Slightly darker than the background */ 
}

::-webkit-scrollbar-thumb {
  background-color: #ff9900; /* Darker grey thumb */
  border-radius: 2px; /* Round the corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffad31; /* Slightly lighter on hover */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #040404;
    background-color: #ffffff;
  }
  a:hover {
    color: #e5e5e5;
  }
  button {
    background-color: #1e1e1e;
  }
}
